:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-dark-blue: hsl(234, 17%, 12%);
  --Font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
}

/* Contenedor */
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: url(./images/bg-stars.svg) var(--Very-dark-blue) center;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 65vh;
  padding: 20px;
}

/* Titulo */
.title {
  font-size: 22px;
  color: var(--White);
  text-align: center;
  margin-bottom: 100px;
  letter-spacing: 6px;
}

/* Contador */
#count-down {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.simply-section {
  position: relative;
  width: 140px;
  background-color: var(--Dark-desaturated-blue);
  padding: 18px 23px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 11px 15px -5px rgba(0, 0, 0, 0.55);
}
.simply-amount {
  font-size: 5em;
  color: var(--Soft-red);
}
.simply-word {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--Grayish-blue);
}

/* Footer */
.footer {
  position: relative;
  height: 200px;
  width: 100%;
}
.social {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 35px;
  z-index: 100;
}
.fab {
  margin: 44px 5px 0;
  font-size: 32px;
  color: #8385A9;
  transition: color 0.4s;
}

.fab:hover {
  color: var(--Soft-red);
}
.content-hills {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hills {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .simply-section {
    width: 100px;
  }
  .simply-amount {
    font-size: 3.56em;
  }
}
@media (max-width: 518px) {
  #count-down {
    gap: 19px
  }
  .simply-section {
    min-width: 72px;
    padding: 15px;
  }
  .simply-amount {
    font-size: 2.25em;
  }
  .simply-word {
    font-size: 11.5px;
    letter-spacing: 1px;
  }
}
@media (max-width: 368px) {
  #count-down {
    gap: 10px
  }
  .simply-section {
    min-width: 60px;
  }
  .simply-amount {
    font-size: 2em;
  }
}